:root {
  --background_color: #fff;
  --content_div: #fff;
  --primary_color: #f94c85;
  --secondary_color: dodgerblue;
  --text_color: #000;
  --light_gray: gray;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: poppins;
}
html,
body {
  overflow: hidden;
}
@font-face {
  font-family: "poppins";
  src: url(./assets/fonts/Poppins/Poppins-Medium.ttf);
}
@font-face {
  font-family: "Lobster";
  src: url(./assets/fonts/Lobster/Lobster-Regular.ttf);
}
.main {
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: var(--content_div);
  transition: 0.7s;
}
/* sidebar */
.sidebar {
  width: 21%;
  height: 100%;
  z-index: 11;
  margin: auto 0;
  background-color: var(--background_color);
}
.sidebar .container {
  padding: 10% 0;
  position: relative;
}
.sidebar .container .arrowLeft {
  position: absolute;
  color: var(--text_color);
  font-size: 2rem;
  right: 4%;
  top: 0;
  z-index: 11;
  display: none;
}
.sidebar .container .profile-details {
  width: 88%;
  padding: 10% 2% 4% 1%;
  margin: 10% auto 0 auto;
  border-radius: 0.7rem;
  background-color: var(--content_div);
}
.sidebar .container .profile-details img {
  border-radius: 40%;
  object-fit: cover;
  display: block;
  border: 2.5px solid var(--primary_color);
  margin: -25% auto 3% auto;
  padding: 2%;
}
.sidebar .container .profile-details .content {
  width: 100%;
  height: 100%;
  padding: 3% 0 0 0;
  text-align: center;
  color: var(--text_color);
}
.sidebar .follows {
  justify-content: center;
  align-items: center;
  margin-top: 15%;
  color: var(--text_color);
}
.sidebar .follows .total-post {
  width: 25%;
  text-align: center;
}
.sidebar .follows .total-post,
.followers,
.following p {
  line-height: 0.4;
}
.sidebar .follows .followers {
  width: 40%;
  text-align: center;
}
.sidebar .follows .following {
  width: 30%;
  text-align: center;
}
.sidebar .container .nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  padding: 0% 8%;
}
.sidebar .container .nav-link {
  width: 100%;
  display: flex;
  line-height: 2rem;
  margin-top: 4%;
  color: var(--text_color);
  font-size: 1rem;
  border-radius: 0.5rem;
}
.sidebar .container .nav i {
  font-size: 1.5rem;
  margin-right: 7%;
  line-height: 1.5rem;
}
.nav-link.active {
  background-color: var(--primary_color);
  color: #fff !important;
}

/* posts */
.posts {
  width: 52%;
  height: 100%;
  background-color: var(--content_div);
  margin: 0 auto;
  overflow-y: scroll;
}
.posts::-webkit-scrollbar {
  display: none;
}
@font-face {
  src: url(./assets/fonts/FontsFree-Net-Billabong.ttf);
  font-family: "FontsFree-Net-Billabong";
}
.topbar-for-mobile {
  height: 9%;
  width: 52%;
  position: absolute;
  top: 0;
  left: 47%;
  transform: translate(-50%, 0);
  background-color: var(--background_color);
  color: var(--text_color);
  display: flex;
  align-items: center;
  padding: 0% 4%;
  z-index: 11;
  display: none;
}
.topbar-for-mobile h6 {
  font-size: 2.5rem;
  margin-top: 2%;
  letter-spacing: 1px;
  font-family: FontsFree-Net-Billabong;
}
.topbar-for-mobile i {
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
}
.posts .stories {
  width: 100%;
  height: 15%;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 0.5%;
  margin: 1% 0;
  z-index: 11;
}

.posts .stories .slide h6 {
  font-size: 0.8rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
  line-height: 1.5rem;
  color: var(--text_color);
}
.posts .stories .own {
  width: 4.2rem;
  height: 4.2rem;
  object-fit: cover;
  border-radius: 45%;
  padding: 3%;
  display: block;
  margin: 0 auto;
}
.posts .stories .active {
  width: 4.2rem;
  height: 4.2rem;
  object-fit: cover;
  border-radius: 50%;
  border: 2.5px solid var(--primary_color);
  padding: 3%;
  display: block;
  margin: 0 auto;
}
.posts .all-posts {
  width: 100%;
  height: 100%;
  padding: 0% 2% 0 2%;
  overflow-y: scroll;
}
.posts .all-posts .particular-post {
  max-height: 55rem;
  width: 90%;
  padding: 3%;
  background-color: var(--background_color);
  border-radius: 0.7rem;
  margin: 0 auto 2% auto;
}
i {
  cursor: pointer;
}
.posts .all-posts .particular-post .heading {
  width: 100%;
  align-items: center;
  color: var(--text_color);
}
.posts .all-posts .particular-post .heading img {
  border-radius: 50%;
  object-fit: cover;
}
.posts .all-posts .particular-post .heading .content {
  padding-left: 2%;
  margin-top: 1.5%;
}
.posts .all-posts .particular-post .heading h6 {
  font-size: 0.9rem;
}
.posts .all-posts .particular-post .heading p {
  line-height: 0;
  font-size: 0.7rem;
}
.posts .mainphoto {
  width: 100%;
  height: 24rem;
  margin: 2% 0 2% 0;
}
.posts .mainphoto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.7rem;
}
.centerheart {
  font-size: 0rem;
  position: relative;
  top: -80%;
  left: 35%;
  z-index: 100;
  color: var(--text_color);
  animation: ZoomEffect 2s ease;
  display: none;
}
@keyframes ZoomEffect {
  0% {
    font-size: 0;
  }
  50% {
    font-size: 10rem;
  }
  100% {
    font-size: 0;
  }
}
.posts .icons {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
}
.posts .icons i {
  font-size: 1.7rem;
  color: var(--text_color);
  margin: 0 1% 0 2%;
}
.posts .icons span {
  color: var(--text_color);
}
.all-posts::-webkit-scrollbar {
  /* width: 5px;
  background-color: #f5f5f5; */
  display: none;
}

/* messagebar */
.messagebar {
  width: 27%;
  height: 100%;
  z-index: 0;
  /* border-radius: 1rem; */
  margin: auto 0;
  background-color: var(--background_color);
  overflow-y: hidden;
  /* display: none; */
}
/* .messagebar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
} */
.messagebar .top {
  height: 20%;
  width: 100%;
  position: relative;
}
.messagebar .top .arrowLeft {
  position: absolute;
  left: 1%;
  top: -15%;
  font-size: 2rem;
  color: var(--text_color);
  display: none;
}
.list::-webkit-scrollbar {
  /* width: 5px;
  background-color: #f5f5f5; */
  display: none;
}

/* .messagebar::-webkit-scrollbar-thumb {
  background-color: #000000;
} */
.messagebar h6 {
  font-size: 1.3rem;
  margin: 10% 5% 4% 5%;
  color: var(--text_color);
  letter-spacing: 1px;
}
.messagebar .input-group {
  padding: 4% 4%;
}
.messagebar .input-group .search {
  position: absolute;
  z-index: 11;
  top: 50%;
  left: 7%;
  transform: translate(0, -50%);
  font-size: 1rem;
  color: var(--text_color);
}
.messagebar .input-group .form-control {
  padding-left: 10%;
  box-shadow: none;
  border: none;
  background-color: var(--content_div);
}
.messagebar .input-group .form-control:focus {
  border: none;
}
.messagebar .list {
  height: 80%;
  width: 100%;
  overflow-y: scroll;
  padding: 2% 0;
}
.messagebar .item {
  height: 4.5rem;
  align-items: center;
  padding: 0 5% 0 5%;
  margin: 0% 4% 2% 4%;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 0.7rem;
  /* box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.1); */
  /* background-color: var(--content_div); */
}
.messagebar .item img {
  object-fit: cover;
}

.messagebar .item:hover {
  background-color: var(--content_div);
}
.messagebar .item img {
  border-radius: 50%;
}
.messagebar .item .content {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 4%;
  color: var(--text_color);
}
.messagebar .item .title {
  font-size: 0.85rem;
  line-height: 0.5rem;
  margin-top: 2%;
}
.messagebar .item .share {
  line-height: 0;
  font-size: 0.7rem;
}
.messagebar .item i {
  font-size: 1.3rem;
  margin: 0 0 0 auto;
  color: var(--text_color);
}

/* Chat Box */
.chatBox {
  width: 27%;
  height: 100%;
  z-index: 11;
  background-color: var(--background_color);
  right: -50%;
  top: 0;
  position: absolute;
  display: block;
  transition: 0.6s ease-in-out;
}
.chatBox .topbar {
  height: 12%;
  align-items: center;
  padding-left: 2%;
  box-shadow: 5px 1px 5px rgba(0, 0, 0, 0.1);
  background-color: var(--background_color);
  color: var(--text_color);
}
.chatBox .topbar i {
  font-size: 1.5rem;
}
.chatBox .topbar img {
  margin: 0 2% 0 3%;
  border-radius: 50%;
  object-fit: cover;
}
.chatBox .topbar .call {
  width: 25%;
}
.chatBox .topbar .call i {
  margin: 0 8%;
}
.chatBox .topbar label {
  margin-top: 1%;
}
.chatBox .middleChat {
  position: absolute;
  top: 12%;
  left: 0;
  width: 100%;
  height: 88%;
  background-image: url(./assets/images/chatBack.png);
  background-size: 240%;
}
.chatBox .middleChat .chat {
  width: 100%;
  position: absolute;
  bottom: 12%;
  display: flex;
  flex-direction: column;
  padding: 1% 4%;
}
.chatBox .middleChat .chat .left {
  align-items: center;
}
.chatBox .middleChat .chat .left-label {
  background-color: var(--primary_color);
  padding: 2% 4%;
  border-radius: 1rem;
  color: var(--text_color);
  color: #fff;
  font-size: 0.9rem;
  margin: 1% 2%;
}
.chatBox .middleChat .chat .left img {
  border-radius: 50%;
  object-fit: cover;
}
.chatBox .middleChat .chat .right {
  align-items: center;
  justify-content: flex-end;
}
.chatBox .middleChat .chat .right-label {
  background-color: var(--primary_color);
  padding: 2% 3%;
  border-radius: 1rem;
  color: #fff;
  font-size: 0.9rem;
  margin: 1% 2%;
}
.chatBox .middleChat .chat .right img {
  border-radius: 50%;
  object-fit: cover;
}
.chatBox .bottombar {
  position: absolute;
  bottom: 0;
  height: 12%;
  width: 100%;
  padding: 0 3%;
  display: flex;
  align-items: center;
  color: var(--text_color);
}
.chatBox .bottombar .form-control {
  height: 2.5rem;
  border-radius: 2rem;
  padding-left: 13%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: none;
  background-color: var(--background_color);
  color: var(--text_color);
}
.chatBox .bottombar .camera {
  position: absolute;
  left: 7%;
  font-size: 1.5rem;
}
.chatBox .bottombar .mic {
  position: absolute;
  right: 16%;
  font-size: 1.3rem;
}
.chatBox .bottombar .img {
  position: absolute;
  right: 7%;
  font-size: 1.3rem;
}
/* Search */
.searchSection {
  width: 52%;
  height: 100%;
  background-color: var(--content_div);
  margin: 0 auto;
  /* overflow-y: scroll; */
  padding: 1% 1% 1% 1%;
  overflow-y: scroll;
}
.searchSection .input-group {
  margin: 2% 0 4% 0;
}
.searchSection .input-group .form-control {
  background-color: var(--background_color);
  border: none;
  color: var(--text_color);
}
.searchSection .input-group .form-control:focus {
  box-shadow: none;
  border: none;
}
.searchSection::-webkit-scrollbar {
  display: none;
}
.searchSection .wrraper-1 {
  width: 100%;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-auto-rows: minmax(300px, 300px);
  grid-column-gap: 0.7em;
  margin-bottom: 2%;
  padding: 0% 2% 0 0;
}
.searchSection .wrraper-1 > div {
  width: 100%;
  /* background-color: var(--background_color); */
}
.searchSection .wrraper-2 {
  width: 100%;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-auto-rows: minmax(300px, 300px);
  grid-column-gap: 0.7em;
  margin-bottom: 2%;
  padding: 0 2% 0 0;
}
.searchSection .wrraper-2 > div {
  width: 100%;
  /* background-color: var(--background_color); */
}
.searchSection .wrraper-1 .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}
.searchSection .wrraper-2 .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.7rem;
}
.searchSection .wrraper-1 .video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.7rem;
}
/* Reels */
.reels {
  width: 52%;
  height: 100%;
  background-color: var(--content_div);
  margin: 0 auto;
  /* overflow-y: scroll; */
  padding: 0% 0 0 0;
}
.reels .container-fluid {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  margin: 0 auto;
  /* padding: 2%; */
  /* background-color: var(--background_color); */
}
.reels .container-fluid .slider {
  height: 100%;
  width: 100%;
  /* background-color: var(--background_color); */
}
.reels .container-fluid .slider .slide {
  display: grid;
  place-items: center;
}
.reels .container-fluid video {
  width: 98%;
  border: none;
  outline: none !important;
  box-shadow: none;
  border-radius: 0.7rem;
}
.reels .overlay {
  width: 98.1%;
  height: 40%;
  position: absolute;
  bottom: 2%;
  left: 1%;
  padding: 25% 3% 0 3%;
  border-radius: 2rem;
  /* background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.4)); */
}
.reels .overlay .profile-detail {
  display: flex;
  color: #fff;
}
.reels .overlay .profile-detail img {
  border-radius: 50%;
  object-fit: cover;
}
.reels .overlay .profile-detail h6 {
  line-height: 3rem;
  margin-left: 2%;
}
.reels .overlay .profile-detail a {
  color: #fff;
  text-decoration: none;
  line-height: 3rem;
}
.reels .overlay p {
  color: #fff;
}
.reels .overlay .icons {
  position: absolute;
  height: 100%;
  width: 15%;
  top: 0;
  right: 0;
  /* background-color: var(--black); */
  z-index: 11;
  padding: 5% 0;
}
.reels .overlay .icons i {
  font-size: 1.4rem;
  color: #ffff;
  text-align: center;
}
video::-webkit-media-controls-fullscreen-button {
  display: none;
}
video::-webkit-media-controls-download-button {
  display: none;
}
video::-webkit-media-controls-play-button {
}
video::-webkit-media-controls-timeline {
}
video::-webkit-media-controls-current-time-display {
}
video::-webkit-media-controls-time-remaining-display {
}
video::-webkit-media-controls-mute-button {
}
video::-webkit-media-controls-toggle-closed-captions-button {
}
video::-internal-media-controls-overflow-button {
  display: none;
}
video::-webkit-media-controls-volume-slider {
}
/* IGTV */
.igtv {
  width: 52%;
  height: 100%;
  background-color: var(--content_div);
  margin: 0 auto;
  padding: 0.2% 0 0 0;
}
.igtv .container-fluid {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  margin: 0 auto;
}
.igtv .overlay {
  width: 98%;
  height: 40%;
  position: absolute;
  bottom: 2%;
  left: 1%;
  padding: 25% 3% 0 3%;
  border-radius: 2rem;
  /* background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.4)); */
}
.igtv .overlay .profile-detail {
  display: flex;
  color: #fff;
}
.igtv .overlay .profile-detail img {
  border-radius: 50%;
  object-fit: cover;
}
.igtv .overlay .profile-detail h6 {
  line-height: 3rem;
  margin-left: 2%;
}
.igtv .overlay .profile-detail a {
  color: #fff;
  text-decoration: none;
  line-height: 3rem;
}
.igtv .overlay p {
  color: #fff;
}
.igtv .overlay .icons {
  position: absolute;
  height: 100%;
  width: 15%;
  top: 0;
  right: 0;
  /* background-color: var(--black); */
  z-index: 11;
  padding: 5% 0;
}
.igtv .overlay .icons i {
  font-size: 1.4rem;
  color: #fff;
  text-align: center;
}
.igtv .container-fluid .slider {
  height: 100%;
  width: 100%;
  /* background-color: var(--background_color); */
}
.igtv .container-fluid .slider .slide {
  display: grid;
  place-items: center;
}
.igtv .container-fluid video {
  width: 98%;
  border: none;
  outline: none !important;
  box-shadow: none;
  border-radius: 0.7rem;
}
/* Activity */
.activity {
  width: 52%;
  height: 100%;
  background-color: var(--content_div);
  margin: 0 auto;
  /* overflow-y: scroll; */
  color: var(--text_color);
  overflow-y: scroll;
}
.activity::-webkit-scrollbar {
  display: none;
}
.activity h6 {
  margin: 2% 0;
}
.activity .follow-request .profiles {
  width: 3.5rem;
  height: 3.5rem;
  background-color: var(--text_color);
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.activity .follow-request .content {
  margin: 0% 0%;
}
.activity .follow-request .content h6 {
  color: var(--text_color);
}
.activity .follow-request .content p {
  color: var(--light_gray);
}
.activity .follow-item {
  background-color: var(--background_color);
  align-items: center;
  padding: 1.5%;
  border-radius: 0.7rem;
  margin: 1% 0;
}
.activity .follow-item img {
  border-radius: 50%;
  object-fit: cover;
}
.activity .follow-item .content {
  align-items: center;
  margin-left: 2%;
}
.activity .follow-item h6 {
  line-height: 1.5rem;
}
.activity .follow-item p {
  line-height: 0.5;
  font-size: 0.9rem;
  color: var(--light_gray);
}
.activity .follow-item .btn {
  color: #fff;
  float: right;
  background-color: var(--secondary_color);
  margin: 0 2% 0 auto;
  border: none;
  padding: 0.8% 2.5%;
}
.activity .following-item {
  background-color: var(--background_color);
  padding: 1.5% 2%;
  align-items: center;
  margin: 0 0 2% 0;
  border-radius: 0.7rem;
}
.activity .following-item img {
  border-radius: 50%;
  object-fit: cover;
}
.activity .following-item p {
  line-height: 0;
  margin-top: 10%;
}
.activity .following-item .sec {
  color: var(--light_gray);
}
.activity .suggesion-item {
  background-color: var(--background_color);
  padding: 1.5% 2%;
  align-items: center;
  margin: 0 0 1% 0;
  border-radius: 0.7rem;
}
.activity .suggesion-item img {
  border-radius: 50%;
  object-fit: cover;
}
.activity .suggesion-item p {
  line-height: 0;
  margin-top: 10%;
}
.activity .suggesion-item .sec {
  color: var(--light_gray);
}
.activity .suggesion-item .btn {
  color: #fff;
  float: right;
  background-color: #1e90ff;
  margin: 0 2% 0 auto;
  border: none;
  padding: 0.8% 2.5%;
}
/* Settings */
.settings {
  width: 52%;
  height: 100%;
  background-color: var(--content_div);
  margin: 0 auto;
  /* overflow-y: scroll; */
  padding: 1% 0 0 0;
}
.settings h5 {
  color: var(--text_color);
  font-size: 1.2rem;
  margin: 2% 0%;
}
.settings .content-1 {
  background-color: var(--background_color);
  color: var(--text_color);
  padding: 2%;
  border-radius: 1rem;
}
.settings .content-1 h6 {
  line-height: 2.3rem;
  cursor: pointer;
  padding: 0% 1%;
  border-radius: 0.5rem;
  transition: 0.5s;
}
.settings .content-1 h6:hover {
  background-color: var(--content_div);
}
.settings .content-1 i {
  font-size: 1.4rem;
  margin-right: 2%;
  color: var(--text_color);
}
.settings .content-2 {
  background-color: var(--background_color);
  padding: 2%;
  border-radius: 1rem;
}
.settings .content-2 i {
  font-size: 1.4rem;
  color: var(--text_color);
  margin-right: 2%;
}
.settings .content-2 a {
  line-height: 2.5rem;
  font-size: 1rem;
  text-decoration: none;
  color: var(--text_color);
}
/* for switch of dark or light */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  display: inline-block;
  float: right;
  margin-top: 1%;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 2.35px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch input:checked + .slider {
  background-color: var(--primary_color);
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

/* Rounded sliders */
.switch .slider.round {
  border-radius: 34px;
}

.switch .slider.round:before {
  border-radius: 50%;
}
